body{
  background: red;
}

form label{
    display: block;
    font-size: 20px;
}
td {
  border: 1px solid #000000;
border-color: cor;

}
thead {

  background: #555555;
  color: white;
  font-weight: bold;
}
  table tr{
      background-color: darkturquoise;
}
  table tr td{
      border: 2px solid;
      border-clor: orange;
      font-size: 24px;
}
